@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
      var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
  background-attachment: fixed;
}
.layout {
  margin-top: 120px;
  margin-left: 20px;
  display: relative;
  justify-content: center;
  width: 690px;
  height: 400px;
  background-color: rgb(0 174 255 / 0%);
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.148),
    0px 4px 2px 0px rgba(255, 255, 255, 0.329),
    0px 8px 4px 0px rgba(0, 0, 0, 0.09),
    0px 16px 8px 0px rgba(255, 255, 255, 0.194),
    0px 32px 16px 0px rgba(0, 0, 0, 0.09);
}

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 55px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Rocher";
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 2;
}

.mint {
  font-palette: --Mint;
}

nav {
  align-items: center;
  display: flex;
  justify-content: none;
  height: 50px;
  background-color: radial-gradient(#003, #000);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
  margin: 0 17px;
  padding: 0 0 10px;
  display: inline-block;
}
nav ul li a:hover {
  color: rgb(209, 163, 251);
  font-size: 1.2rem;
}

.button-menu {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ef56ef 0,
    #202b7d 100%
  );
  border-radius: 7px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(178, 158, 220, 0.3) 0 7px 13px -3px,
    rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  height: 45px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin: -15px;
  width: 100px;
  height: 40px;
  padding-left: 55px;
  padding-right: 55px;

  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;

  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  font-weight: 550;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.button-menu:focus {
  box-shadow: #293cca 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #5e6eec 0 -3px 0 inset;
}

.button-menu:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #5768e5 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-menu:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#converter {
  max-width: 300px;
  margin: 0 auto;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 550;
  font-style: italic;
}
#inputUnit {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-weight: 550;
  font-style: italic;
}
#outputUnit {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-weight: 550;
  font-style: italic;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #f87f1d 0,
    #ff5484 100%
  );
  border-radius: 7px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  height: 45px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin: 10px;
  width: 100px;
  height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  font-weight: 550;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(49, 33, 74, 0.3) 0 7px 13px -3px, #182587 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(134, 220, 220, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3d50dd 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #cacddf 0 3px 7px inset;
  transform: translateY(2px);
}
.result {
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: 20px;
  margin-right: 22px;
  font-family: "Century Schoolbook", Georgia, Times, serif;
  color: #ffffff;
  padding: 7px;
  text-align: center;
  font-size: 1rem;
  font-weight: 550;
  justify-content: center;
}
footer::before {
  content: "\00A9"; 
  font-size: 24px; 
  margin-right: 5px; 
}
